
.container{
    padding: 5em 10em;
    min-height: 100vh;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg');
    background-size: cover;
}

.boxContainer{
    display: flex;
    width: 100%;
    min-height: 80vh;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 25px;
}