.contact{
    display: flex;
    padding: 1em 1em;
    margin:0 -2em;
    text-decoration: none;
    align-items: center;
}

.contact > img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: #fff;
    margin-right: 0.7em;
}

.name,.text{
    color: #fff;
}

.name{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active{
    background-color: #0ea5a5;
    transition: 0.5s;
}

@media(max-width:1998px){
    .contact{
        margin: 0 -1em;
    }
}

@media(max-width:750px){
    
    .contact > img{
        width: 45px;
        height: 45px;
        border-radius: 40px;
        background-color: #fff;
        margin-right: 0.7em;
    }

    .name{
       font-size: 16px;
    }
    
}