.home{
    background-color: #fff;
    height: 80vh;
    width: 70%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes typing{
    from{
        width: 0ch;
    }

}

@keyframes toMove{
    from{
        transform: translate(275px, 151px);
    }

}

.home > h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 27ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s ease-in normal;
    margin-bottom: 1em;
}

.home > img{
    transform: translate(0px, 0px);
    animation: toMove 1s ease-in-out normal;
}

@media(max-width:1107px){
    .home{
        min-height: 100vh;
    }
}

@media(max-width:1005px){
    .home{
        width: 60%;
        border-radius: 0;
    }

    .invisible{
        height: 250px;
    }
      
    .home > h1{
        font-size: 25px;
    }
    
    .home > img{
        position: absolute;
        width: 150px;
    }

    @keyframes toMove{
        from{
            position: fixed;
            transform: translate(275px, 151px);
        }
    
    }
}

@media(max-width:750px){
    
    .invisible{
        height: 170px;
    }
      
    .home > h1{
        font-size: 20px;
    }
    
    .home > img{
        width: 100px;
    }
    
}

@media(max-width:673px){
    .home{
        width: 50%;
    }

    .invisible{
        height: 150px;
    }
      
    .home > h1{
        font-size: 16px;
    }
    
    .home > img{
        width: 80px;
    }
}