.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 0 -2em;
    border-bottom:1px solid #fff ;
}

.notification > p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 1em;
}

.buttons > button{
    border: none;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;    
}

.buttons > button:first-child{
    margin-right: 1em;
    background-color: rgb(1, 216, 1);
    color: #fff;
}

.buttons > button:last-child{
    background-color: red;
    color: #fff;
}