.buttons{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows:100% ;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
}

.buttons > button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.disabled{
    opacity: 0.5;
}

.active{
    opacity: 1;
}

@media(max-width:750px){
    .buttons > button{
        font-size: 20px;
    }
}